.image {
    img {
        width: 100vh;
        height: 100vh;
        object-fit: cover;
        margin: 10%;
        border-radius: 5%; 
        padding: 2%;
        margin: 2%;
    }

    .title {
        margin: 40px;
    }
}